.body-content-style, .all-style-button {
  color: aquamarine;
  font-size: medium;
  color: blue;
  font-size: medium; }

.header-content-style, .all-style-button {
  color: red;
  font-size: large;
  color: blue;
  font-size: large; }
