<div class="search-form mt-4">
  <form>
    <div class="form-group">
      <label for="search-input">Tu khoa</label>
      <select name="gender" class="form-control" id="gender-select">
        <option value="">Chon gioi tinh</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
      <input
        name="q2"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Nhap tu khoa"
      />
      <input
        name="q3"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Nhap tu khoa"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>